
body {

    font-family: 'Raleway', sans-serif;
    background:hsla(199, 19%, 29%, 0.815);
    color:#decba4;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.options_zone{

    font-weight:bold;
    color:#decba4;
    border:0px;
    height:10%;
    width:10%;
    border-collapse: collapse;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
}
.footer_zone{
    
    border-collapse: collapse;
    left:-15px;

}

ul {

    list-style-type:none;
    margin-top: -50px;
    margin-right:9px;

}

.button1 {

    background: none;
    color:#decba4;
    width : 170px;
    height: 35px;
    margin-top: 25px;
    margin-right: 10%;
    margin-bottom:-25px;
    position:relative;
    border-color: #decba4;
    cursor: pointer;

}
.button2 {

    background: none;
    color:#a2ab58;
    width : 170px;
    height: 35px;
    margin-top: 25px;
    margin-right: 5%;
    margin-bottom:-25px;
    position:relative;
    border-color: #decba4;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.button_choice {

    margin-bottom: -5px;
    color:#a2ab58;

}

.button1:hover,
.button1:active {

    background:#FFFFF5;
    color: #333333;

}
.button2:hover,
.button2:active {

    background:#FFFFF5;
    color: #333333;

}

span .options{

    color:#333333;
    
}

.options_choice{

    color: #FF8C00;
    margin-bottom:5px;

}

.options_choice:hover,
.options_choice:active{

    color: #FF8C00;
    cursor:default;
}
.kiten_icon {
    vertical-align:middle;
    display:inline-block;
    padding-top:15px;
}
.hello{
    vertical-align:baseline;
    position:absolute;
    display: inline-block;
    margin-top:8px;
    max-height:39px;
    overflow:hidden;
}
@media only screen and (max-width: 800px) {

    #show_hide,
    #corpse {
        display: none;
    }

}
@media only screen and (max-width: 800px) {

    #hello_text,
    #hello {
        font-size: 15px;
    }

}
@media only screen and (max-width: 450px) {

    #hello_text,
    #hello {
        font-size: 9px;
    }

}

.corpse {
  border: 0px solid #decba4;
  border-radius:6px;
  overflow: hidden;
  background-color: #333333;
  overflow-y:scroll;
  margin-left:40%;
  display:block;text-align:center;height:45px;width:250px;
}

.corpse1 {

    height: 70px;
    margin-top:5px;
    margin-right: -50px; /* maximum width of scrollbar */
    padding-right: 50px; /* maximum width of scrollbar */
    overflow-y: hidden;
    width:95%;
    background-color: #333333;

}
.corpse:focus, 
  textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
  }
.search{
    background:none;
    color:#fffbd5;
    border:none;
}
.search-form{
    background:none;
    color:#fffbd5;
    border:none;
}

.search_form::active{
    color:#FFFFF5;
    background:none;
}
span .hello_text {
    float:left;
    margin-top: 30px;
}
.search-form:optional,
input[type=search]:invalid{
    background:none;
    color:#FFFFF5;
    border-color:white;
}
/* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
}
audio{
    font-size: 18px;
    color: #decba4;
    background-color :#C71585;
  }
  input, button {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #333333;
    width : 170px;
    height: 35px;
    margin-top: 20px;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
               
.noselect::selection {
    border: 1px dotted #999;
    background:#FFFFF5;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
                                  font-family: 'Encode Sans Condensed', sans-serif;
    color: #333333;
    width : 170px;
    height: 35px;
    margin-top: 20px;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.noselect::selection {
    border: 1px dotted #999;
    background:#FFFFF5;
    border-radius: 0;
  
                                  font-family: 'Encode Sans Condensed', sans-serif;
    color: #333333;
    width : 170px;
    height: 35px;
    margin-top: 20px;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.album_form, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
.album_form:focus, textarea:focus {
  box-shadow: 0 0 5px #ffe259;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #decba4;
}
.album_form_file, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
  }
   
  .album_form_file:focus, 
  textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
  }
  
