
    body {

    font-family: 'Raleway', sans-serif;
    background:hsla(199, 19%, 29%, 0.815);
    color:#decba4;

}
.options_zone{

    font-weight:bold;
    color:#decba4;
    border:0px;
    height:10%;
    width:10%;
    border-collapse: collapse;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
}
.footer_zone{
    
    border-collapse: collapse;
    left:-15px;

}

ul {

    list-style-type:none;
    margin-top: -50px;
    margin-right:9px;

}

.button1 {

    background: none;
    color:#decba4;
    width : 170px;
    height: 35px;
    margin-top: 25px;
    margin-right: 10%;
    margin-bottom:-25px;
    position:relative;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    cursor: pointer;
    transition: 
    background 250ms ease-in-out, 
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

}
.button2 {

    background: none;
    color:#a2ab58;
    width : 170px;
    height: 35px;
    margin-top: 25px;
    margin-right: 5%;
    margin-bottom:-25px;
    position:relative;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    cursor: pointer;
    transition: 
    background 250ms ease-in-out, 
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.button_choice {

    margin-bottom: -5px;
    color:#a2ab58;

}

input:hover,
input:active {

    background:#FFFFF5;
    color: #333333;

}

span .options{

    color:#333333;
    
}

.options_choice{

    color: #FF8C00;
    margin-bottom:5px;

}

.options_choice:hover,
.options_choice:active{

    color: #FF8C00;
    cursor:default;
}
.kiten_icon {
    vertical-align:middle;
    display:inline-block;
    padding-top:15px;
}
.hello{
    vertical-align:baseline;
    position:absolute;
    display: inline-block;
    margin-top:8px;
}
@media only screen and (max-width: 800px) {
    #show_hide,
    #corpse {
        display: none;
    }
}
.corpse {
    margin-top:20px;
}
input[type=search], .search-form{
    background:none;
    color:#fffbd5;
    border:none;
}

input[type=search]:active{
    color:#FFFFF5;
    background:none;
}
span .hello_text {
    float:left;
    margin-top: 30px;
}
.search-form:optional,
input[type=search]:invalid{
    background:none;
    color:#FFFFF5;
    border-color:white;
}
/* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
