body {

    font-family: 'Raleway', sans-serif;
    background:hsla(199, 19%, 29%, 0.815);
    color:#decba4;

}
.options_zone{

    font-weight:bold;
    color:#decba4;
    border:0px;
    height:10%;
    width:10%;
    border-collapse: collapse;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
}
.footer_zone{
    
    border-collapse: collapse;
    left:-15px;

}

ul {

    list-style-type:none;
    margin-top: -50px;
    margin-right:9px;

}
input {

    background: none;
    color:#decba4;
    width : 170px;
    height: 35px;
    margin-top: 25px;
    margin-right: 10%;
    position:relative;
    border:0;
    border-radius: 6px;
    border-color: #decba4;
    cursor: pointer;
    transition: 
    background 250ms ease-in-out, 
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.button_choice {

    margin-bottom: -15px;
    color:hsla(199, 19%, 29%, 0.815);

}

input:hover,
input:active {

    background:#FFFFF5;
    color: #333333;

}

span .options{

    color:#333333;
    
}

.options_choice{

    color: #decba4;
}

.options_choice::hover,
.options_choice::active{

    color: #FFFFF5;
}
.kiten_icon {
    vertical-align:middle;
    display:inline-block;
    padding-top:15px;
}
.hello{
    vertical-align:baseline;
    position:relative;
    display: inline-block;
    margin-top:17px;
}
@media only screen and (max-width: 800px) {
    #show_hide {
        display: none;
    }
.corpse {
    margin-top:20px;
}
input[type=search]{
    background:hsla(199, 19%, 29%, 0.815);
}
.input[type=search]::hover,
.input[type=search]::active{

    background:hsla(199, 19%, 29%, 0.815);
}